<!-- Left Body Content (List of all Packages) -->
<div class="col-sm-3">
    <div class="package-view-body-element package-view-list">

        <div class="list-group" style="width: 100%;">
            <a href="#" class="list-group-item">First item</a>
            <a href="#" class="list-group-item">Second item</a>
            
        </div>


    </div>
    <button type="button" class="btn btn-default" style="width: 100%">Create New</button>
</div>

<!-- Middle Body Content (Description of selected Packages) -->
<div class="col-sm-6">
    <div class="package-view-image"></div>

    <div class="form-group form-group-element">
        <label class="col-sm-3"> Name: </label>

        <div class="col-sm-6"><input class="form-control" /></div>
        <div class="col-lg-3">O</div>
    </div>

    <div class="form-group form-group-element">
        <label class="col-sm-3"> Price: </label>
        <div class="col-sm-6"><input class="form-control" /></div>
        <div class="col-sm-3"></div>
    </div>

    <div class="form-group form-group-element">
        <label class="col-sm-12">Description: </label>
        <textarea class="form-control col-sm-12"></textarea>
    </div>

    <div class="form-group form-group-element col-sm-12">
        <button type="button" class="btn btn-default col-sm-4" >New by Copy</button>
        <button type="button" class="btn btn-default col-sm-4" >Save</button>
        <button type="button" class="btn btn-default col-sm-4" >Enable/Disable</button>
    </div>

</div>

 <!-- Right Body Content (Lists all parts of package) -->
<div class="col-sm-3">
    <div class="package-view-body-element package-view-list" style="height: 21vw;">
        <div class="list-group" style="width: 100%;">
            <b class="list-group-item">Items List</b>
            <a href="#" class="list-group-item">Second item</a>
        </div>
    </div>
    <div class="package-view-body-element package-view-list" style="height: 14vw; margin-top:10px;">
        <div class="list-group" style="width: 100%;">
            <b class="list-group-item">Items to Add</b>
            <a href="#" class="list-group-item">Second item</a>
        </div>
    </div>
</div>
