
<div class="dashboard-body">

    <div>

    </div>

    <div class='col-sm-6 dashboard-item-container'>
        <div class="col-sm-12 dashboard-item-body">
            Ingrediens
        </div>
        <div class="col-sm-6 dashboard-item-body">
            Most sold:
        </div>
        <div class="col-sm-6 dashboard-item-body">
            Least sold:
        </div>
    </div>


    <div class='col-sm-6 dashboard-item-container'>
        <div class="col-sm-12 dashboard-item-body">
            Chocolate
        </div>
        <div class="col-sm-6 dashboard-item-body">
            Most sold:
        </div>
        <div class="col-sm-6 dashboard-item-body">
            Least sold:
        </div>
    </div>


    <div class='col-sm-6 dashboard-item-container'>
        <div class="col-sm-12 dashboard-item-body">
            Packages
        </div>
        <div class="col-sm-6 dashboard-item-body">
            Most sold:
        </div>
        <div class="col-sm-6 dashboard-item-body">
            Least sold:
        </div>
    </div>


    <div class='col-sm-6 dashboard-item-container'>
        <div class="col-sm-12 dashboard-item-body">
            Standard Products
        </div>
        <div class="col-sm-6 dashboard-item-body">
            Most sold:
        </div>
        <div class="col-sm-6 dashboard-item-body">
            Least sold:
        </div>
    </div>



</div>